
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  font-family: 'EB Garamond', serif;


}

header {
  background-color: #094491;
  color: #fff;
  padding: 20px 0;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.hero {
  background: url('images/pic.jpg') no-repeat center center/cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero-content {

  background: rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: 'Georgia', serif;
}

.hero p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 25px;
  line-height: 1.6;
}


.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff6600;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #fff;
}

.feature-box {
  width: 30%;
  background: #e3f2fd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4c4faf;
  color: lch(100% 0.01 296.81);
  margin-top: 20px;
}
